#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

label {
  margin: 0.5rem 0;
}

.controls {
  margin-top: 1.5rem;
}
